<div class="container">
    <br>
    <hr><br>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/Players" routerLinkActive="active">Player-List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/PlayersFeatures" routerLinkActive="active">Player-Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/Team" routerLinkActive="active">Team</a>
        </li>
    </ul>
    <br>
    <hr><br>
    <div clas="bg">
        <img src="../../../assets/images/admin.jpg" alt="Prout to be an INDIAN!!!!" />
    </div>
</div>