<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="blog-box">
                    <h3>T-20 1 0f 3</h3>
                    <p>starts at <span>11 am (IST)</span> on <span>July 03, 2020</span></p>
                    <p>England vs. Australia </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <h3>ODI 1 0f 3</h3>
                    <p>starts at <span>02:00 pm (IST)</span> on <span>July 05, 2020</span></p>
                    <p>Pakistan vs. Netherland </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <h3>T-20 2 0f 3</h3>
                    <p>starts at <span>11:00 am (IST)</span> on <span>July 07, 2020</span></p>
                    <p>England vs. Australia </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <h3>ODI 2 0f 3</h3>
                    <p>starts at <span>02:00 pm (IST)</span> on <span>July 09, 2020</span></p>
                    <p>Pakistan vs. NetherLand </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <h3>T-20 3 0f 3</h3>
                    <p>starts at <span>11:00 am (IST)</span> on <span>July 11, 2020</span></p>
                    <p>England vs. Australia </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <h3>ODI 3 0f 3</h3>
                    <p>starts at <span>02:00 pm (IST)</span> on <span>July 13, 2020</span></p>
                    <p>Pakistan vs. Netherland </p>
                </div>
            </div>
        </div>
    </div>
</section>
