<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="../../../assets/images/dhoni.jpg" alt="Dhoni" />
                    <h3>Mahendra Singh Dhoni</h3>
                    <p>"Thala"<span> Former Captain from 2007 - 2016</span> of <span>Indian Cricket Team</span></p>
                    <p>India has won all the ICC trophies under his captaincy....</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="../../../assets/images/virat.jpg" alt="kohli" />
                    <h3>Virat Kohli</h3>
                    <p>"Chiku"<span> Indian Captain</span> of <span>Indian Cricket Team</span></p>
                    <p>He is the best batsman in the world...</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="../../../assets/images/rohit.jpg" alt="rohit" />
                    <h3>Rohit Sharma</h3>
                    <p>"Hit-Man"<span> Vice Captain</span> of <span>Indian Cricket Team</span></p>
                    <p>He is best T20 captain and second best batsman in the world.....</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="../../../assets/images/jaddu.jpg" alt="jaddu" />
                    <h3>Ravindra Jadeja</h3>
                    <p>"Jaddu"<span> All-Rounder</span> of <span>Indian Cricket Team</span></p>
                    <p> He is an all-rounder, who plays as a left-handed middle-order batsman and slow left-arm orthodox bowler.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="../../../assets/images/bhuvi.jpg" alt="bhuvi" />
                    <h3>Bhuvneshwar Kumar</h3>
                    <p>"Bhuvi"<span>Bowler</span> of <span>Indian Cricket Team</span></p>
                    <p>He can swing the ball well and can bat also.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-box">
                    <img src="../../../assets/images/bumrah.jpg" alt="bumrah" />
                    <h3>Jasprit Bumrah</h3>
                    <p>"Bumrah"<span>Pacer</span> of <span>Indian Cricket Team</span></p>
                    <p>He is the best Bowler in the world...</p>
                </div>
            </div>
        </div>
    </div>
</section>